# my.cnf Character code configuration sample
[mysqld]
# Character code/Collating sequence setting
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# mysql option setting
[mysql]
# Character code
default-character-set = utf8mb4

# mysql client setting
[client]
# Character code setting
default-character-set = utf8mb4